<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button 
          class="btn btn-sm btn-success"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          +
        </button>
        Take Note
      </h5>
    </div>

    <div
      id="collapseOne"
      class="collapse hide"
      aria-labelledby="headingOne"
      data-parent="#accordion"
    >
      <div class="card-body">
        <%= render 'form', note: @note %>
      </div>
    </div>
  </div>
</div>

<% @notes&.each do |note| %>
  <div class="card" style="background: #Ffa">
    <div class="card-body" >
    <%= link_to "Send this note to my email",
          :controller => "notes",
          :action => "note_email",
          :id => note.id 
      %>
      <br />
      <h5 class="card-title"><%= note.title %></h5>
      <p class="card-text"><%= note.body %></p>
      
      <span>
        Created by
        <%= current_user.first_name + ' ' + current_user.last_name %>
        <%= note.created_at.strftime("%a %r") %>.
      </span>
      <br />
      <br />
    <%= link_to 'View', note, class:'btn btn-sm btn-primary col-1' %>
    <%= link_to 'Edit', edit_note_path(note.id), class:'btn btn-sm btn-info col-1' %>
    <%= link_to 'X', note,
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class:'btn btn-sm btn-danger col-1'
    %>
    </div>
  </div>
<% end %>
<br>


